{% set logged = app.session.get('logged') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.css') }}">
        {# <link rel="stylesheet" href="{{ asset('view/header.css') }}">
        <link rel="stylesheet" href="{{ asset('view/foter.css') }}"> #}
        <link href='http://fonts.googleapis.com/css?family=Cormorant&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <header>
    <div class="header">
        <div class="container header__container">
            <div class="header__row row ">
                <a  href="{{ asset('home') }}" class="header__logo">
                    <img src="{{ asset('img/logo1.png') }}" alt="logo">
                </a>
                <div class="header__info">
                {# // odnosnik do widoku register czy coś  #}
                {% if logged == null %}
                    <a class="header__register" href="/login">
                        <p class="-mobileHidden">Logowanie</p>
                        <img class="header__registerIcon -mobileVisible" src="{{ asset('img/icon_02.svg') }}" alt="Account">
                    </a>
                {% else %}
                {# // a jak jestesmy zalogowani to : #}
                    <a class="header__register" href="#">
                        <p class="">Zalogowany jako: {{ logged['username'] }}</p>
                    </a>
                    <a class="header__logout" href="/home/logout">
                        <p class="-mobileHidden">Wyloguj się</p>
                        <img class="header__logoutIcon -mobileVisible" src="{{ asset('img/close1.png') }}" alt="Account">
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </header>
    <main>
            {% block body %}{% endblock %}

    </main>
    <script src="{{ asset('js/jquery.js')}} "></script> 
    <script src="{{ asset('js/main.js')}} "></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        {% block javascripts %}{% endblock %}
        
    <footer>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__content">

                <p>Copyright by Restaurate</p>
            </div>
        </div>
    </div>
    </footer>
    </body>
</html>
