{% extends 'template.html.twig' %}
{% block title %}Search{% endblock %}
{% block stylesheets %} 
 <link rel="stylesheet" type="text/css" href="{{ asset('templates/search.css') }}" />
 <link rel="stylesheet" href="{{ asset('components/nice_select/style.css') }}">

{% endblock %}

{% block body %}
<div class="restaurantsList">
    <div class="container">
        <div class="restaurantsList__header"><h2>Znajdź restaurację</h2></div>
    </div>
    <div class="add__baner banner__div row">
        <div class="container">
            <div class="restaurantsList__search search row">
                <div class="search__row row">
                    <div class="search__border row">
                        <form action="search" name="restaurant" method="POST" class="search__border row">
                            <input type="text" name="phrase" placeholder="Wpisz nazwę lub miasto" value="" class="search__input search--top">
                            <div class="search__select slate search--top">
                            <select name="select">
                                <option  value="name">Nazwa</option>
                                <option  value="town">Miasto</option>
                            </select>
                            </div>
                            <label class="search__btn search--top btn">
                            <input type="submit" class="-hide">
                            <span class="-mobileHidden">Szukaj</span>
                                <img class="search__icon" src="{{ asset('img/icon_04.svg') }}" alt="Search">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="restaurantsList__results">
        <div class="container">

        <div class="restaurantsList__header">
            <div class="restaurantList__yourTown restaurantsList--header">
                <span>{{ lstRestaurantsInfo }}</span>
            </div>
        </div>

        <div class="restaurantsList__restaurants">
        {% if restaurants != null %}
        {% for restaurant in  restaurants %}
           <div class="restaurantsList__restaurant restaurant">
             <div class="restaurant__lp">
                    <span>{{ loop.index }}</span>
                </div>
                <div class="grow restaurant__grow">
                    <h3 class="restaurant__name">{{ restaurant.name }}</h3>
                    {# gwiazdki #}
                </div>
                <a href={{"detail/" ~ restaurant.id }} class=" restaurant__more">Więcej</a>
            </div>
        {% endfor %}
        {% else %}
            <h1>Nie znaleziono żadnej restauracji</h1>
        {% endif %}
        </div>

    </div>
    


   

</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.nice-select.js') }}"> </script>
{% endblock %}
